Django==5.0.1
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
psycopg
# env controls
python-dotenv

Pillow
celery
redis
django-redis
pika
django-treenode
django-storages
boto3
django-imagekit
requests
gunicorn
markdown
